
    <ion-card>

        <ion-card-header>
            Card Header
        </ion-card-header>

        <ion-card-content>
                <ion-list>
                    <ion-item>
                        <ion-icon name="locate" item-start></ion-icon>
                        Google Map integration in Ionic 2
                    </ion-item>
                
                    <ion-item>
                        <ion-icon name="git-pull-request" item-start></ion-icon>
                        A pull down effect Ionic 2
                    </ion-item>
                
                    <ion-item>
                        <ion-icon name="apps" item-start></ion-icon>
                        Check App Availability in Ionic 2
                    </ion-item>
                
                    <ion-item>
                        <ion-icon name="albums" item-start></ion-icon>
                        Fullscreen mode for Ionic 2
                    </ion-item>
                
                    <ion-item>
                        <ion-icon name="color-filter" item-start></ion-icon>
                        Pipes or Filters in Ionic 2
                    </ion-item>
            
                </ion-list>
        
        </ion-card-content>

    </ion-card>
